.social-icon-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  bottom: 1.25rem;
  position: fixed;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-bottom: 1.15rem;
  background-color: var(--neutral);
  border-radius: 50%;
  padding: 0.5rem;
}

.icon:hover {
  background-color: var(--primary);
}


@media (max-width:700px){
  .social-icon-list{
      display: none;
  }
}