.contactContainer{
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner{
    color: #fa9141;
}