.outLine {
  width: 15rem;
  height: 15rem;
  margin-top: 2rem;
  border: 0.2rem solid var(--primary);
  border-radius: 0.5rem;
}

.image {
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  margin-left: -1rem;
  margin-top: -1rem;
}
